# Q1

### Tuples
- Immutable lists
- To write a tupe containing a single value, you have to include comma. ex) x = (2,) / 2,

In [1]:
price = (180, 130, 110, 160, 140, 170)

#### 1)

In [2]:
price = list(price)

In [3]:
price.sort()
price

[110, 130, 140, 160, 170, 180]

In [4]:
price = tuple(price)
price

(110, 130, 140, 160, 170, 180)

#### 2)

In [5]:
price = list(price)
price.extend([100, 190])
price.sort()
tuple(price)

(100, 110, 130, 140, 160, 170, 180, 190)

#### 3)

In [6]:
price_2 = price[0:8:2]
price_2 = list(price_2)
price_2

[100, 130, 160, 180]

#### 4)

In [7]:
170 in price_2

False

#### 5)

In [8]:
list(price)
price[4:5] = [0,0,0]
price
price = tuple(price)

In [9]:
price

(100, 110, 130, 140, 0, 0, 0, 170, 180, 190)

# Q2

In [10]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [11]:
scr1 = scores[0:3]
scr2 = scores[3:10]
print(scr1)
print(scr2)

[8.8, 8.9, 8.7]
[9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

# Q3

In [12]:
# Explain why the following expression raises an error.
dict_x = {{'a':10} : 5, 'abc': {'c':20}}

TypeError: unhashable type: 'dict'

Why error?
- key에 올수 있는 건 immutable data type 밖에 올 수 없으나 mutable 한 dictionary가 와버렸다.

In [15]:
# Explain why the following expression raises an error.
dict_y = {(1,):10, (2,):20, (3, ):30, (4, ):40} ; dict_y[-2 :]

TypeError: unhashable type: 'slice'

Why error?
- dict는 unordered data 이기 때문에 slicing을 할 수 없다.

# Q4

In [16]:
icecream={'cheery': [12,100], 'cookies': [18,200], 
          'greentea': [15,140], 'mango': [10,200]}

#### 1)

In [17]:
icecream['cookies'] = [13, 200]
icecream

{'cheery': [12, 100],
 'cookies': [13, 200],
 'greentea': [15, 140],
 'mango': [10, 200]}

#### 2)

In [18]:
icecream_list = list(icecream.values())
icecream_list

[[12, 100], [13, 200], [15, 140], [10, 200]]

In [19]:
print('price=', icecream_list[1][0], '&', 'stock=', icecream_list[1][1] )

price= 13 & stock= 200

#### 3)

In [20]:
ud = {'strawberry': [12, 170], 'pistachio': [15, 100] }
icecream.update(ud)
icecream

{'cheery': [12, 100],
 'cookies': [13, 200],
 'greentea': [15, 140],
 'mango': [10, 200],
 'strawberry': [12, 170],
 'pistachio': [15, 100]}

#### 4)

In [21]:
icecream['coconut']

KeyError: 'coconut'

Why error?
- dictionary에 없는 key를 이런식으로 입력하면 에러가 뜬다.
- 만약 error 안나게 하고 싶으면 'coconut' in icecream 이렇게 해야함.

#### 5)

In [22]:
# How could you create ‘icecream2’ from copying ‘icecream’ 
# so that ‘icecream2’ can be changed without affecting ‘icecream’?
icecream2 = icecream.copy()

In [23]:
icecream2['dalgona'] = [20, 100]
icecream2

{'cheery': [12, 100],
 'cookies': [13, 200],
 'greentea': [15, 140],
 'mango': [10, 200],
 'strawberry': [12, 170],
 'pistachio': [15, 100],
 'dalgona': [20, 100]}

In [24]:
icecream

{'cheery': [12, 100],
 'cookies': [13, 200],
 'greentea': [15, 140],
 'mango': [10, 200],
 'strawberry': [12, 170],
 'pistachio': [15, 100]}

# Q5

In [25]:
d1={'key1': 1, 'key2': 3, 'key3': 2, 'key10': 7 }
d2={'key3': 1, 'key2': 2, 'key7': 2, 'key5': 4, 'key1': 7, 'key9': 8}

#### 1)

In [30]:
d2list = list(d2.values())
d2list.sort()
d2list[-1:-4:-1]

[8, 7, 4]

In [35]:
d1set = set(d1.values())
d2set = set(d2.values())
d2set - d1set

{4, 8}

In [36]:
d1kset = set(d1.keys())
d2kset = set(d2.keys())
d1kset.issubset(d2kset)

False

In [37]:
4 in d1set

False

In [38]:
d1set & d2set

{1, 2, 7}

In [39]:
# Explain why the following code raises an error. 
s1=set(d1); s1[0]

TypeError: 'set' object is not subscriptable

Why error?
- Set은 indexing이 불가능하다.

In [40]:
# Set is a set of dictionary keys
s1 = set(d1)
s1

{'key1', 'key10', 'key2', 'key3'}